<%=form_for @order do |f| %>


<span>Name</span>
<%= f.text_field :name, :required => true %>
    <span>Address</span>
<%= f.text_field :address1, :required => true %>
    <span>Order Status</span>
<%= f.select :status,["in progress","Paid","Shipped"] %>

        <%= f.submit "Submit", :class=> "case3a"%>
        <% end %>
