<h1 class="banner">FESTIVAL DE MUSICA</h1>
<h3 class="second-banner">GALLERY OF PAST FESTIVALS</h3>


<div class="gallery">
    <div class="autoplay">

        <div>
            <%= image_tag("concert.jpg", :class => "autoplay") %>
        </div>
        <div>
            <%= image_tag("concert2.jpg", :class => "autoplay") %>
        </div>

        <div>
            <%= image_tag("concert3.jpg", :class => "autoplay") %>
        </div>
        <div>
            <%= image_tag("balloon.jpg", :class => "autoplay") %>
        </div>
        <div>
            <%= image_tag("audience.jpg", :class => "autoplay") %>
        </div>

        </div>
</div>
