<div class="main-page">
    <%= image_tag("girlsinfield.jpg", :class => "main-image") %>
    <text class="main-banner">FESTIVAL DE MUSICA
        <p class="main-banner">in the Boogaloo Mountains</p>
        <p class="main-banner">1 APRIL 2018</p>
    </text>
</div>

<br>
<br>

<h1 class="banner">FESTIVAL DE MUSICA</h1>
<h3 class="second-banner">An Autumnal Frolic of Music in the Wilds of the Australian Mountains</h3>

<br>
<br>
<br>
<%= image_tag("forest.jpg", :class => "secondary-image") %>
<br>
<br>
<br>

<div class="main-text2">
    <p class="main-text">A CELEBRATION OF ECLECTIC MUSIC FROM SOME OF THE WORLD'S BEST ARTISTS. BRING YOUR FRIENDS AND FAMILY TO ONE OF THE MOST ATMOSPHERIC FESTIVALS HELD NEXT TO THE FAMOUS BOOGALOO RANGES.</p>
    <br>
    <br>
    <br>

    <%= link_to("BUY TICKETS", products_path) %>

    <br>
    <br>

    <ul class="main-list">

        <li class="main-page-list"><%= link_to("MUSIC", pages_music_path) %>
            <br>
            <br>
            <%= image_tag("audience.jpg", :class => "tertiary-image") %>
            <br>
        </li>
        <li class="main-page-list"><%= link_to("ACTIVITIES", pages_activities_path) %>
            <br>
            <br>
            <%= image_tag("festival.jpg", :class => "tertiary-image") %>
            <br></li>
        <li class="main-page-list"><%= link_to("FAQ", pages_faq_path) %><br>
            <br>
            <%= image_tag("flowerchild.jpg", :class => "tertiary-image") %>
            <br>
        </li>
    </ul>
    <ul class="main-list">

        <li class="main-page-list">GALLERY<br>
            <br>
            <%= image_tag("concert2.jpg", :class => "tertiary-image") %>
            <br>
        </li>
        <li class="main-page-list">FOOD AND DRINK<br>
            <br>
            <%= image_tag("picnic.jpg", :class => "tertiary-image") %>
            <br>
        </li>
        <li class="main-page-list"><%= link_to("LOCATION", pages_location_path) %>
            <br>
            <br>
            <%= image_tag("balloon.jpg", :class => "tertiary-image") %>
            <br>
        </li>
    </ul>

<div class="sponsors">
    <h3 class="sponsors-text">SPONSOR BANNER HERE</h3>
</div>

</div>
