<div class="main-page">
    <%= image_tag("girlsinfield.jpg", :class => "main-image") %>
    <text class="main-banner">FESTIVAL DE MUSICA
        <p class="main-banner">in the Boogaloo Mountains</p>
        <p class="main-banner">1 APRIL 2018</p>
    </text>
</div>

<br>
<br>

<h1 class="banner">FESTIVAL DE MUSICA</h1>
<h3 class="second-banner">An Autumnal Frolic of Music in the Wilds of the Australian Mountains</h3>

<br>
<br>
<br>
<%= image_tag("forest.jpg", :class => "secondary-image") %>
<br>
<br>
<br>
<div class="main-text2">

    <p class="main-text">A CELEBRATION OF ECLECTIC MUSIC FROM SOME OF THE WORLD'S BEST ARTISTS. BRING YOUR FRIENDS AND FAMILY TO ONE OF THE MOST ATMOSPHERIC FESTIVALS HELD NEXT TO THE FAMOUS BOOGALOO RANGES.</p>

    <br>
    <br>
    <ul class="main-list">

        <li class="main-page-list">MUSIC
            <br>
            <br>
            <%= image_tag("forest.jpg", :class => "tertiary-image") %>
            <br>
        </li>
        <li class="main-page-list">ACTIVITIES
            <br>
            <br>
            <%= image_tag("forest.jpg", :class => "tertiary-image") %>
            <br></li>
        <li class="main-page-list">FAQ<br>
            <br>
            <%= image_tag("forest.jpg", :class => "tertiary-image") %>
            <br>
        </li>
    </ul>
    <ul class="main-list">

        <li class="main-page-list">GALLERY<br>
            <br>
            <%= image_tag("forest.jpg", :class => "tertiary-image") %>
            <br>
        </li>
        <li class="main-page-list">FOOD AND DRINK<br>
            <br>
            <%= image_tag("forest.jpg", :class => "tertiary-image") %>
            <br>
        </li>
        <li class="main-page-list">LOCATION
            <br>
            <br>
            <%= image_tag("forest.jpg", :class => "tertiary-image") %>
            <br>
        </li>
    </ul>

    <h3 class="sponsors">To be announced</h3>
</div>
